@model MacBlog.DAL.Modelo.Categoria

@{
    ViewBag.Title = "Edit";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Alterar Categoria</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CategoriaId)

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoriaNome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CategoriaNome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoriaNome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar Alterações" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Retornar", "Index")
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
